<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- namespace : mapper DAO 객체를 연결하기 위한 이름 -->
  <mapper namespace="boardMapper">
  <!-- sql 구문작성 -->
  <!-- daoImpl => namespace.id => 어느 mapper의 어느 구문을 실행해야할지 결정 -->
  <!-- resultType = "나갈 객체의 타입" / parameterType="들어오는 객체명(생략가능)" -->
  	<insert id="add" parameterType="domain.Board">
  		insert into board(title, writer, content) 
  		<!-- getter로 값을 가져옴  -->
  		values (#{title}, #{writer}, #{content})
  	</insert>
  	
  	<select id="list" resultType="domain.Board">
  	select * from board order by bno desc
  	</select>
  	
  	<select id="detail" resultType="domain.Board" parameterType="int">
  	select * from board where bno = #{bno}
  	</select>
  	
  	<update id="update" parameterType="domain.Board">
  	update board set title=#{title}, content=#{content}, moddate=now()
  	where bno=#{bno}
  	</update>
  	
  	<delete id="del" parameterType="int">
  	delete from board where bno=#{bno}
  	</delete>
  
  </mapper>