<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- namespace : mapper DAO 객체를 연결하기 위한 이름 -->
  <mapper namespace="boardMapper">
  <!-- sql 구문작성 -->
  <!-- daoImpl => namespace.id => 어느 mapper의 어느 구문을 실행해야할지 결정 -->
  <!-- resultType = "나갈 객체의 타입" / parameterType="들어오는 객체명(생략가능)" -->
  	<insert id="add" parameterType="domain.Board">
  		insert into board(title, writer, content, imagefile) 
  		<!-- getter로 값을 가져옴  -->
  		values (#{title}, #{writer}, #{content}, #{imagefile})
  	</insert>
<!-- 데이터 양이 많으면 시간이 오래 걸림 -->  	
	<!--   	 	
	select * from board
	<include refid="search"></include>
	order by bno desc limit #{pageStart}, #{qty} 
	-->
  	<select id="list" resultType="domain.Board">
  	 	select a.bno, b.title, b.writer, b.regdate ,b.imagefile
		from (
			select bno from board
			<include refid="search"></include>
			order by bno desc
			limit #{pageStart}, #{qty}
		) a left join board b on a.bno = b.bno
  	</select>
  	
  	<select id="detail" resultType="domain.Board" parameterType="int">
  	select * from board where bno = #{bno}
  	</select>
  	
  	<update id="update" parameterType="domain.Board">
  	update board set title=#{title}, content=#{content},
  	imagefile=#{imagefile}, moddate=now()
  	where bno=#{bno}
  	</update>
  	
  	<delete id="del" parameterType="int">
  	delete from board where bno=#{bno}
  	</delete>
  	
  	<select id="cnt" resultType="int" >
  	select count(bno) from board
  		<include refid="search"></include>
  	</select>
  
  	<!-- 메서드 처럼 sql도 조각으로 별도 설정해놓을 수 있음. / 언제든 호출 가능 -->
  	<sql id="search">
  		<if test="type != null">
			<trim prefix="where (" suffix=")">
				<choose>
					<when test="type == 't'.toString()">
						title like concat('%', #{keyword},'%') 
					</when>
					<when test="type == 'w'.toString()">
						writer like concat('%', #{keyword},'%') 			
					</when>
					<when test="type == 'c'.toString()">
						content like concat('%', #{keyword},'%')
					</when>
				</choose>
			</trim>  		
  		</if>
  	</sql>
  
  </mapper>